<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceAREASoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceAREASoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44323/WebServiceAREA.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceAREASoap"
                contract="ServiceReferenceAreas.WebServiceAREASoap" name="WebServiceAREASoap" />
        </client>
    </system.serviceModel>
</configuration>